// ----------------変数定義------------------------
// variables for color----------------------------

$copicari_back_ground_grey     : #F5F5F5;
$registration_background_color : #F5F5F5;
$progress_bar_font_color       : #888888;
$progress_bar_font_color       : #888888;
$sell_form_info_head_color     : #888888;
$item_btn_sold_grey            : #888888;
$default_font_color            : #333333;
$registration_form_font_color  : #757575;
$registration_form_form_color  : #CCCCCC;
$input_form_font_color         : #757575;
$input_form_form_color         : #CCCCCC;
$registration_form_red         : #EA352d;
$copicari_red                  : #EA352d;
$copicari_blue                 : #0099E8;
$btn_grey                      : #AAAAAA;
$footercolor                   : #212121;
$header_serachform_grey        : #FAFAFA;
$item_data_table_grey          : #FAFAFA;
$face_color_good               : #EF5185;
$face_color_normal             : #FBA933;
$face_color_bad                : #6AB5D8;
$my_page_menu_bar_grey         : #EEEEEE;
$my_page_menu_arrow_grey       : #CCCCCC;

//variables for size----------------------------
$registration_header_logo_width  : 200px;
$registration_header_logo_height :  80px;
$registration_footer_width       : 400px;
$small-font-size                 :  12px;
$middle-font-size                :  16px;
$large-font-size                 :  22px;

