.container
  = render partial: "layouts/header"
  .container__inner.clearfix
    .container__inner__list_box.container__right_inner
      .container__inner__list_box__title.container__right_inner__user_box
        .container__right_inner__user_box__name_box
          .container__right_inner__user_box__name_box__name
            %h2 #{@user.name} さん
        .container__right_inner__user_box__follow_box
          - unless @follower
            .follow_btn#follow{ data: {user_id: current_user.id, followed_user_id: @user.id} }フォローする
          - else
            .follow_btn.follow_btn--stop#stop_follow{ data: {follower_id: @follower.id, user_id: current_user.id, followed_user_id: @user.id } } フォロー中
      = render partial: "layouts/small_item_list", locals: {title: "この出品者の商品"}
  = render partial: "layouts/footer"
