.container
  = render partial: "layouts/header"
  .container__inner.clearfix
    =render partial: "layouts/my_page_menu_bar"
    .container__inner__list_box.container__right_inner
      = render partial: "layouts/small_item_list", locals: {title: "フォローしているユーザの商品"}
  = render partial: "layouts/footer"
