.general_header{
  background-color: white;
}
.header__inner{
  width          : 80%;
  margin         : 0px auto;
  padding-top    : 8px;
  padding-bottom : 8px;

  &__logo_container{
    width:100%;
  }

  &__logo{
    display: inline-block;
    width  : 135px;
    float  : left;
  }

  &__form{
    display              : inline-block;
    width                : calc(100% - 135px);

    &__text_field{
      @include sell_form_default;
      width              : 90%;
      display            : inline-block;
      margin-left        : 10px;
      font-size          : 14px;
      line-height        : 16px;
      background-color    : $header_serachform_grey;
    }

    &__btn{
      float              : right;
      position           : relative;
      top                : 15px;
      right              : 50px;
      font-size          : 16px;
      font-weight        : 400;
      color              : $default_font_color;
      border             : none;
      background-color   : rgba(255,0,0,0);
      cursor             : pointer;
    }
  }

  &__links{
    margin-right: 37px;
    margin-top  :  8px;
    &__left{
      float              : left;
    }
    &__right{
      float              : right;
    }
    &__item{
      float              : left;
      margin-right       : 10px;
      margin-top         :  9px;
      font-size          : 14px;
      &--red{
        padding          : 0px 16px;
        line-height      : 30px;
        color            : white;
        background-color : $copicari_red;
        border-radius    : 4px;
        text-decoration  : none;
        display          : inline-block;
      }
      &--red_inversion{
        display          : inline-block;
        padding          : 0px 16px;
        line-height      : 30px;
        border           : 1px solid $copicari_red;
        border-radius    : 4px;
        color            : $copicari_red;
        text-decoration  : none;
        transition       : all 500ms 0s ease;
        &:hover{
          color            : white;
          background-color : $copicari_red;
        }
      }
      &--blue{
        display          : inline-block;
        padding          : 0px 16px;
        line-height      : 30px;
        border           : 1px solid $copicari_blue;
        border-radius    : 4px;
        color            : $copicari_blue;
        text-decoration  : none;
        transition       : all 500ms 0s ease;
        &:hover{
          color            : white;
          background-color : $copicari_blue;
        }
      }
    }
  }
}
