.container
  = render partial: "layouts/header_plane"
  .main
    .form
    =form_for(@item) do |f|
      .sell_form__inner
        %p.form__title 商品の情報入力
      .sell_form__inner
        .sell_form__inner__container
          %i.form__field__must_info 必須
          %p.sell_form__supplement 最大4枚までアップロードできます。
          / %p.sell_form__drop_box__supplement クリックしてファイルをアップロード
          = f.fields_for :item_images do |pf|
            = pf.file_field :image
