// 商品詳細ページのcss

.item_container{
  width           : 60%;
  margin          : 40px auto;
  padding         : 40px;
  background-color: white;
}

.item{
  &__title{
    font-size   : 20px;
    font-weight : 600;
  }

  &__data_box{
    margin-top  : 20px;
  }
  &__image_box{
    width       : 50%;
    float       : left;
    &__upper{
      position  : relative;
      overflow  : hidden;
      height    : 350px;
      // width: 350px;
      // background-size: 50% 50%;
      &__image{
        width     : 100%;
        max-height: 346px;
        // max-width: 346px;
        overflow: hidden;
        // background-size: contain;
        // background-position: center;
      }
    }
    &__bottom__image{
      width     : 23%;
      &--over{
        opacity : 0.5;
      }
    }
  }

  &__data_table{
    width      : 45%;
    padding    : 8px;
    margin-left: 20px;
    float      : left;
    text-align : left;
    font-size  : 14px;
    border     : 1px solid $item_data_table_grey;
    & th{
      background-color : $item_data_table_grey;
      padding          : 8px;
    }
    & td{
      padding  : 8px;
    }
  }

  &__price{
    &__box{
      padding-top  : 24px;
    }
    &__sub{
      width      : 100%;
    }
    &__price{
      font-size    : 50px;
      font-weight  : 600;
      margin-right : 16px;
      &__head{
        width      : 30%;
        display    : inline-block;
        float      : left;
      }
      &__center{
        width      : 40%;
        display    : inline-block;
        float      : center;
      }
      &__bottom{
        width      : 30%;
        display    : inline-block;
        float      : right;
      }
        &__tax{
          font-size  : 10px;
        }
        &__delivary_fee{
          font-size  : 16px;
        }
    }
  }

  &__purchase_btn{
    display          : block;
    width            : 100%;
    margin-top       : 16px;
    padding          : 10px 0px;
    background-color : $copicari_red;
    font-size        : 24px;
    color            : white;
    &--sold{
      background-color : $item_btn_sold_grey;
    }
  }

  &__description{
    margin-top       : 32px;
    text-align       : left;
    font-size        : 18px;
    line-height      : 27px;
  }
  &__like_box{
    display          : flex;
    margin-top       : 16px;
    &__btn{
      border-radius  : 40px;
      padding        : 8px 16px;
      font-size      : 14px;
      & i{
        margin-top   : 1px;
        margin-left  : 8px;
      }
    }
  }
}

#like_btn{
  background-color : $copicari_back_ground_grey;
  border           : 1px solid $copicari_back_ground_grey;
  color            : #333333;
}

#stop_like_btn{
  background-color : white;
  border           : 1px solid $copicari_red;
  color            : $copicari_red;
}

#item__like_box__btn_likes_number{
  padding-left    : 10px;
}
