@mixin clearfix{
  &:after {
    content : '';
    display : block;
    clear   : both;
  }
}

@mixin sell_form_default{
  display       : block;
  width         : 95%;
  margin-top    : 8px;
  padding       : 10px 16px 8px;
  border        : 1px solid $input_form_form_color;
  border-radius : 4px;
  font-size     : 16px;
  color         : $input_form_font_color;
  line-height   : 24px;

}

@mixin select_form_default{
  width             : 414px;
  height            : 44px;
  background-color  : white;
}
@mixin form_inner_border_bottom{
  border-bottom: 1px solid $registration_background_color;
}

@mixin back_ground_image_with_blur($url,$height){
  background-image: image-url($url);
  background-size : cover;
  height          : $height;
  position        : relative;
  overflow        : hidden;
  z-index         : 0;
  &:before{
  content         : '';
  background      : inherit;    /*.bgImageで設定した背景画像を継承*/
  filter          : blur(1.5px);/*ぼやけ量の設定*/
  position        : absolute;
  top             : -5px;
  left            : -5px;
  right           : -5px;
  bottom          : -5px;
  z-index         : -1;
  }
}

@mixin back_ground_image($url1,$url2,$height){
  background-image: image-url($url1),image-url($url2);
  background-size : cover;
  height          : $height;
  position        : relative;
  overflow        : hidden;
  z-index         : 0;
}
