-@items.each do |item|
  .item_content
    = link_to item_path(item) do
      .item_box
        / - if item.stock_status != "sold"
        = image_tag item.item_images[0].image , class: "item_box__image"
        / - else

        / %span.item_box__image--sold SOLD
        .item_box__body
          .item_box__body__name_box
            %p.item_box__body__name_box__name  #{item.name}
          %p.item_box__body__price ¥ #{item.evaluate_price.to_s(:delimited)}
          %span円
          / = render partial: "layouts/like_box_for_list", locals: {item: item}
          %p.item_box__body__tax   (税 ¥0)
