%footer
  %ul.footer__links.clearfix
    %li.footer__links__item プライバシーポリシー
    %li.footer__links__item 利用規約
    %li.footer__links__item 特定商取引に関する表記
  = image_tag "logos/copicari_logo_small.png"
  %p.footer__copy_rights ©2017 copicari
