.header__content.clearfix
  .header__content__logo
    =link_to root_path class: "logo" do
      =image_tag "logos/copicari.png"
  %ul.header__content__progress_bar.clearfix
    %li.header__content__progress_bar__item.stage1 会員情報
    %li.header__content__progress_bar__item.stage2 住所入力
    %li.header__content__progress_bar__item.stage3 支払い方法
    %li.header__content__progress_bar__item.stage4 完了
